.einput-component {
  display: flex;
  width: 80%;
  flex-direction: column;
  gap: 8px;

  .description {
    font-size: 16px;
    font-weight: 500;
    color: #f0bb51;
  }

  input {
    background-color: white;
    border-radius: 30px;
    font-size: 20px;
    padding: 14px;
    border: 1px solid #aaa;
  }
}
