@import "../theme/variable.scss";

.page-claim {
  display: flex;
  justify-content: center;
  width: 100%;
  max-height: 100vh;
  
  &__content {
    display: flex;
    justify-content: center;

    &__main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: calc(100vh - 400px);
      text-align: center;

      &__buttons {
        display: flex;
        padding: 20px;
      }

      span {
        font-family: "InterLight";
      }

      a {
        text-decoration: underline;
        color: #4876C1;
        font-family: "InterLight";
        cursor: pointer;
      }
    }
  }

  .bg-1 {
    background-color: #1b191b;
  }

  .bg-2 {
    background-color: #1e1e20;
  }

  .flex-column {
    flex-direction: column;
  }

  .bg-mountain {
    background-image: url("../../assets/images/mountain.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
