@import "../theme/variable.scss";

.page-organize {
  display: flex;
  justify-content: center;
  width: 75%;
  overflow-y: scroll;
  max-height: 100vh;

  &__content {
    display: flex;
    justify-content: center;
    overflow: auto;
    width: 100%;

    &__main {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 2vmin;
      width: 50%;
      padding-top: 8vmin;

      &__footer {
        padding: 10vmin;
      }

      span {
        font-family: "InterBold";
        font-weight: bold;
        font-size: 3vmin;
        color: #102f82;
      }

      a {
        text-decoration: underline;
        color: #4876c1;
        font-family: "InterLight";
        cursor: pointer;

        &:hover {
          color: #F0BB51;
        }
      }
    }
  }

  .bg-1 {
    background-color: #1b191b;
  }

  .bg-2 {
    background-color: #1e1e20;
  }

  .flex-column {
    flex-direction: column;
  }

  .bg-mountain {
    background-image: url("../../assets/images/mountain.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
